<!-- Author: Anya Liu -->
<!-- Email: anyaliu@bu.edu -->
<!-- This is the base template to display the navigation bar -->
<!-- voter_analytics/templates/voter_analytics/base.html -->
{% load static %}
<html>
    <head>
        <title>Voter Analytics</title>
        <link rel="stylesheet" href="{% static 'styles-voter_analytics.css' %}">
    </head>
    <body>
        <header>
            <h1>Voter Analytics</h1>
            <nav>
                <ul>
                    <li><a href="{% url 'home' %}"><h2>Home</h2></a></li>
                    <li><a href="{% url 'graphs' %}"><h2>Graphs</h2></a></li>
                </ul>

            </nav>
        </header>
    
    {% block content %}
    {% endblock %}    
  
    </body>
</html>