{% extends 'restaurant/base.html' %}

{% block content %}
<div class="container">
    <h1>Welcome to Sugar & Whisk</h1>
    <p>Experience the best baked goods in town.</p>
    
    <h2>Location</h2>
    <p>123 Sweets Rd, Candy City, USA</p>
    
    <h2>Hours of Operation</h2>
    <table>
        <tr><th>Day</th><th>Hours</th></tr>
        <tr><td>Monday - Friday</td><td>7:00 AM - 7:00 PM</td></tr>
        <tr><td>Saturday - Sunday</td><td>8:00 AM - 7:00 PM</td></tr>
    </table>
    
    <h2>Gallery</h2>
    <div class="gallery">
        <img src="https://cdnimg.webstaurantstore.com/uploads/blog/2018/8/start-a-bakery-bakery-display-case.jpg" alt="Restaurant Interior" width="300">
        <img src="https://cdn.vox-cdn.com/thumbor/SlTFyEex1X-3ZgXoHKw4M-9YKOQ=/0x0:4272x2848/1200x900/filters:focal(1795x1083:2477x1765)/cdn.vox-cdn.com/uploads/chorus_image/image/70083573/A_selection_of_pastries_at_Sofra_Bakery.7.jpeg" alt="Signature Dish" width="300">
    </div>
</div>
{% endblock %}
