<!-- Author: Anya Liu -->
<!-- Email: anyaliu@bu.edu -->
<!-- This is the template that inherits from base.html to display a single profile in more detail -->
{% extends 'mini_fb/base.html' %}

<h1>{{profile.first_name}} </h1>

{% block content %}
<main class="grid-container">
    
    <profile class="featured">
        <h2>{{ profile.first_name }} {{ profile.last_name }}</h2>
        {% if profile.image_url %}
		<img src="{{profile.image_url}}" alt="{{profile.image_url}}">
		{% endif %}
        
        <p>City: {{ profile.city }}</p>
        <p>Email: {{ profile.email_address }}</p>
        <h3>
            <a href="{% url 'update_profile' profile.pk %}">Update Profile</a>
        </h3>
    </profile>

    <div>
        <h2>Status Messages</h2>
        <h3>
            <a href="{% url 'create_status' profile.pk %}">Create a Status Message</a>
        </h3>
    
        <!-- Display status messages about this article -->
        {% for status in profile.get_status_messages %}
        <article>
            <div>
                <strong>{{status.timestamp}}</strong>
                <p>
                {{status.message}}
                </p>
                {% for status_image in status.get_images %}
                <img src='{{status_image.image.image_file.url}}' alt='Image' width="150" height=auto>
                {% endfor %}
            </div>
        </article>
        {% endfor %}

    </div>

</main>
{% endblock %}