{% extends 'quotes/base.html' %}

{% block content %}


<div>
    <h1>About Benjamin Franklin</h1>
    <p>
        Benjamin Franklin (January 17, 1706 - April 17, 1790) was an American polymath: a writer, scientist, inventor, statesman, diplomat, printer, publisher and political philosopher.
    </p>
    <p>
        Among the most influential intellectuals of his time, Franklin was one of the Founding Fathers of the United States, drafting and signing the Declaration of Independence.
    </p>
    <p>Source: Wikipedia</p>

    <footer>
        Created by Anya Liu
    </footer>
    


</div>

{% endblock %}