{% extends 'quotes/base.html' %}

{% block content %}
<div class="wrapper">
    <h1>All Quotes</h1>
    
    {% for quote in quotes %}
        <p style="font-size: 1.2em; font-style: italic;">"{{ quote }}"</p>
    {% endfor %}

    <h1>All Images</h1>

    <div class="image-gallery" style="display: flex; justify-content: center;">
        {% for image in images %}
        <img src="{{ image }}" alt="Inspirational Image" style="width: 250px; height: 250px; object-fit: cover;">

        {% endfor %}
    </div>
</div>
{% endblock %}
